:root {
  --color-for-button-hover: rgba(62, 34, 3, 0.82);
  --color-for-button-second: rgba(253, 180, 97, 0.82);
  --color-for-linkText:  rgba(253, 180, 97, 0.82);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url(./assets/images/first-bg.jpg) center 0/ 1440px 2175px no-repeat, url(./assets/images/second-bg.jpg) center 2500px/ 1440px 2160px no-repeat;
  background-color: #000;
}

a {
  text-decoration-line:  none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 29px;
  margin-top: 56px;
}

.logo {
  font-weight: 600;
  padding-left: 64px;
}

.link {
  color: black;
  padding-right: 24px;
}

.link:nth-child(7) {
  padding-right: 92px;
}

.general-style-for-discript {
  width: 713px;
  height: 475px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

.discription-head {
  margin: 304px 0 0 173px;
}

.discription-foo {
  margin-top: 400px;
  color: rgba(255, 255, 255, 0.9);
}


.header {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;  
}

.button {
  height: 51px;
  width: 150px;
  border-radius: 8px;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: var(--color-for-button-hover);
  border: 2px solid var(--color-for-button-hover);
  transition: all .5s ease-out;
}
.button.dark{
  border-color: var(--color-for-button-second);
  color: var(--color-for-button-second);
}

.button:hover {
  border: 2px solid var(--color-for-button-second);
  background: var(--color-for-button-second);
  color: var(--color-for-button-hover);
}

.foo-CR {
  display: inline-block;
  margin-top: 220px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.block-discription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  margin: 494px 130px 0;
}

.text-block {
  width: 640px;
}

.photo-pets {
  width: 442px;
  height: 100%;
}

.link-outside {
  display: inline-block;
  color: var(--color-for-linkText);
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-for-linkText);
  padding-bottom: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 120px;
}


.block-with-comment {
  display: flex;
  align-items: center;
}


.photo-author {
  flex: 0 0 64px; 
  height: 64px;
  padding: 0 24px 0 0 ;
}

.comment-text {
  font-style: italic;
  font-size: 17px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.9);
}

.name-author {
  display: inline-block;
  padding: 16px 0 0 0 ;
  color: rgba(255, 255, 255, 0.6);
}

.block-discription > .second {
  color: rgba(255, 255, 255, 0.9);
}

