:root {
  --color-for-button-first: rgba(62, 34, 3, 0.82);
  --color-for-button-second: rgba(253, 180, 97, 0.82);
  --color-for-linkText:  rgba(253, 180, 97, 0.82);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration-line:  none;
}

.general-style {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.first-block {
  height: 2174px;
  background-image: url(./assets/images/first-bg.jpg);
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  margin-top: 56px;
}

.logo {
  font-weight: 600;
  padding-left: 64px;
}

.link {
  color: black;
  padding-right: 24px;
}

.link:nth-child(7) {
  padding-right: 92px;
}

.discription-head {
  width: 713px;
  height: 475px;
  margin: 304px 0 0 173px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

.header {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;  
}

button {
  height: 51px;
  width: 150px;
  border-radius: 8px;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  color: var(--color-for-button-first);
  border: 2px solid var(--color-for-button-first);
  transition: all .5s ease-out;
}

button:hover {
  border: 2px solid var(--color-for-button-second);
  background: var(--color-for-button-second);
  transition: all .5s ease-out;
}

.block-discription {
  min-height: 793px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 494px 142px 0;
}

.text-block {
  max-width: 50%;
}

.link-outside {
  display: inline-block;
  color: var(--color-for-linkText);
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-for-linkText);
  padding-bottom: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 120px;
}

.photo-pets {
  display: inline-block;
  max-width: 100%;
  object-fit: contain;
  /* height: auto; */
  /* text-align: center; */
}
.block-with-comment {
  display: flex;
  align-items: center;
}


/* .second > .text-block> .block-with-comment:nth-of-type(2) {
  padding-top: 40px;
} */

.photo-author {
  flex: 0 0 64px; 
  height: 64px;
  padding: 0 24px 0 0 ;
}

.comment-text {
  font-style: italic;
  font-size: 17px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.9);
}

.name-author {
  display: inline-block;
  padding: 16px 0 0 0 ;
  color: rgba(255, 255, 255, 0.6);
}

.second-block {
  height: 2158px;
  background-image: url(./assets/images/second-bg.jpg);
}

.block-discription > .second {
  color: rgba(255, 255, 255, 0.9);
}

